@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

/*TABLE OF CONTENTS

  1. ===GLOBAL STYLES===

  2. ===HOMEPAGE=== 

  3. ===PROFILE PAGE===

*/



/*1. ===GLOBAL STYLES===*/

body {
  font-size: 16px;
  font-family: 'Lato', Sans-Serif;
  color: #333333;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

h1 {
  font-size: 3.5em;
  font-weight: 900;
}

h2 {
  font-size: 3em;
  font-weight: 700;
}

*:focus { 
  outline: none !important;
}


.btn, .btn:hover, .btn:focus {
  border-radius: 1em;
  outline: none !important;
  border: none !important;
}

.btn-primary {
  background-color: #FF396E;
  border-color: #FF396E;
  /*margin: auto;*/
}

.btn-primary:hover {
  background-color: #de3360;
  border-color: #FF396E;
}

.btn-outline-secondary {
  background-color: #6062C2;
  color: #ffffff;
  border: none;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  background-color: #ffffff;
  color: #6062C2;
  border: none;
  border-color: transparent;
}


header {
  margin-bottom: 3%;
}

button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.header-text-box {
  padding: 5% 0%;
}


/*Nav*/

nav {
  background-image: linear-gradient(50deg, #755FC0 -10%, #0473CE 125%);
  box-shadow: 0 2px 5px rgba(0,0,0,.09);
}

nav .container {
  padding: 0.25em 0;
}

nav li {
  padding-left: 2em;
}

nav a {
  color: #ffffff;
}

nav a:hover {
  color: #cfcfcf;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #FF396E;
  font-weight: 500;`
}

.nav-link {
  cursor: pointer;
}


/*Footer*/

footer {
  background-image: linear-gradient(50deg, #755FC0 -10%, #0473CE 125%);
  margin-top: 3%;
}

footer a {
  color: #cfcfcf;
  display: inline-block;
  padding: 3em 1em;
  text-decoration: underline;
}

footer a:hover {
  color: #ffffff;
}


/*Media Queries */










/* 2. ===HOMEPAGE=== */

.sign-in-btn {
  color: #ffffff;
  background-color: red;
  display: inline-block;
  border: solid;
  margin: 1em 0em;
  max-width: 50%;
  padding: 1em;
  /*margin-bottom: 1em;*/
}

button.sign-in-btn:hover {
  color: white;
}

.homepage-background {
  background-image: linear-gradient(50deg, #755FC0 -10%, #0473CE 125%);
}

.homepage-hero {
    margin-top: 8%;
}

.homepage-hero p {
    font-size: 1.25em;
    font-weight: 100;
    line-height: 1.75em;
    margin: 1em 0 1.5em 0;
    text-align: left;
    max-width: 500px;
}

.btn-homepage {
  display: block;
  margin: 3em 0em;
  padding: 1em 3em;
  border-radius: 2em;
  font-size: 1.25em;
}

/*"How does it work" boxes*/

.header-text-box h5 {
  line-height: 2em;
  font-weight: 300;
}

.explainer-modal {
  width: 65%;
  padding: 3% 0%;
  margin: 4% 20%;
}

.explainer-modal p {
  padding: 3% 10% 0%;
  font-weight: 300;
}



/*Testimonial boxes*/

.testimonial-quote {
  padding-bottom: 2em;
  font-weight: 300; 
  font-size: 2em; 
  max-width: 800px; 
  margin: auto;
}

.testimonial-boxes {
  padding-bottom: 5%;
  margin: auto;
  max-width: 800px;
}

.testimonial-boxes img {
  margin: 5%;
  width: 100px;
  border-radius: 10em;
}

.testimonial-boxes button {
  background-color: inherit;
  color: white;
  font-weight: 300;
  width: 100%;
  max-width: 250px;
  margin: auto;
  display: block;
  border-width: 3px;
  border-color: white;
  border-radius: 1em;
}


@media only screen and (max-width: 768px) {

  body {
    font-size: 14px;
  }

  .homepage-hero {
    text-align: center;
  }

  .homepage-hero p {
    text-align: center;
  }

  .homepage-hero button {
    margin: 3em auto;
  }

  .homepage-hero img {
      display: none;
  }

  /*.homepage-hero p {
    font-size: 1.25em;
    font-weight: 100;
    line-height: 1.75em;
    margin: 1em 0 1.5em 0;
    text-align: left;
  }*/

  .explainer-modal h3 {
    font-size: 1.25em;
  }

  .explainer-modal p {
    display: none;
  }

  .explainer-modal {
    display: block;
    width: 80%;
    padding: 2% 0%;
    margin: 2% auto;
  }

  #explainer-modal-image {
    display: block;
    margin: auto;
    margin-top: 3em;
  }

  .header-text-box {
    padding-top: 10%;
  }

  .header-text-box h2 {
    font-size: 2em;
  }

  .header-text-box h5 {
    font-size: 1.25em;
  }

  .testimonial-boxes p {
    font-size: 0.8em;
  }

}





/*3. ===PROFILE PAGE===*/

.share-url {
  color: #000000;
  background-color: #E9ECEF;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  border-style: dotted;
  border-color: #cfcfcf;
  border-width: 2px;
}

.share-url a:hover {
  color: red;
}

.share-btn {
  color: #ffffff;
  background-color: red;
  display: inline-block;
  border: solid;
  margin: 0 0.5em;
  max-width: 25%;
}

button.share-btn:hover {
  color: white;
}

header .profile-box {
  margin-top: 4%;
}

.jumbotron-city {
  background-image: url("../images/san-diego-skyline.png");
  background-size: cover;
}


/*Profile Boxes*/

.profile-box {
  background-image: linear-gradient(50deg, #755FC0 -10%, #0473CE 125%);
  color: #ffffff;
  border-radius: 1em;
  border: solid;
  padding: 1em;
  max-width: 350px;
  margin: 1em auto;
}

.profile-box .btn-primary {
  width: 33%;
  margin: auto;
}

.profile-box-description p:first-child {
  font-weight: 500;
}